.qnmd{
 position: absolute; background-color:#89daff;
  width:500px;
  height:500px;
  top: 25%;
			left: 25%
  }
		.center{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			width: 18px;
			height: 18px;
			
		}
		.center > div{
			transform-origin: left center;
			/* display: none; */
			position: absolute;
			height: 18px;
			transition: 0.5s transform;
			text-shadow: 0 0 20px orange;
		}
		p{	
			position: absolute;
			transform-origin: left center;
			width: 50px;
			text-align: center;
			transition: 0.5s color;
		}
		.ck{
			color:#000101;
		}
		
		
		.m{
			color: #ff908f;
		}
		.d{
			color: #ff908f;
		}
		.h{
			color: #ff908f;
		}
		.mm{
			color: #ff908f;
		}
		.center .s{
			color: #ff908f;
		}
