        *{
      margin: 0;
      padding: 0;
      }
    body{
      background-color: #000;
      overflow: hidden;
      }
    p{
      word-break: break-word;
      width: 1700px;
      height: 1754px;
      border: 1px solid red;
      overflow: hidden;
      font-size: 1px;
      line-height: 7px;
      margin: 0 auto;
      background: url(https://p4.a.yximgs.com/upic/2023/02/20/23/BMjAyMzAyMjAyMzMxNTJfMTk4MzYzMDczXzk2NjgyOTc2NDk0XzJfNg==_Ba8ff286f2e17e3cdbfd3c23f91c0b323.jpg?clientCacheKey=3xutuvtn6xgck32.jpg&di=7925590b&bp=10000) no-repeat;
      background-size: 1700px 1754px;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      }
